[2017-07-13 20:41] marcos-hotmart opened #1 "vscode theme?"
The new vscode config can be a good thing as the vscode usage is growing.
Here is the reference: https://code.visualstudio.com/docs/getstarted/theme-color-reference

[2017-07-13 21:35] mjswensen commented on #1
Thanks, @marcos-hotmart —yes, this is definitely on the backlog. I'll keep this thread posted with progress.

[2017-08-06 01:46] #1 closed

[2017-08-06 01:51] mjswensen commented on #1
@marcos-hotmart @wcastand @longsien @ShanMen Check out https://github.com/mjswensen/themer-vscode, I think I've got most of the bases covered on full VS Code support. Since I don't use VS Code full-time, if you find anything strange/broken with the theme feel free to log an issue over there.

[2017-08-12 19:50] dguo opened #2 "LICENSE file"
Hi. Before trying out themer, I checked for a license and noticed that none of the repos have a LICENSE file. I see that it's in each `package.json`'s license field, but to make it more immediately obvious, please consider adding the file. GitHub even lets you do it [from the UI](https://help.github.com/articles/adding-a-license-to-a-repository/#including-an-open-source-license-in-your-repository)

[2017-08-12 19:56] dguo opened #3 "themer organization"
First of all, thanks for making themer! I have been looking for something like it for a while. I've known about [Base16](http://chriskempson.com/projects/base16/), but I stumbled upon themer today, and it looks a lot more like what I want. The gui and wallpapers are nice touches.

Since there are so many repos, I was just wondering if you have considered making a separate organization for themer.

[2017-08-13 02:29] mjswensen commented on #3
Hey @dguo , you're welcome! I'm glad you found it and I hope it ends up being useful to you.

That's a good thought about an organization—I think for now I'll keep the repo structure as-is, but that definitely is a good idea for the future.

Keep me in the loop as you create a new template, I'd love to see what you build. Depending on what it is we could add a link to it on the themer readme if yo

[2017-08-13 02:29] #3 closed

[2017-08-13 02:48] mjswensen commented on #2
Good call. I had thought the `package.json` field would be enough but I think you are right. I'll go ahead and add one to each repo.

[2017-08-13 02:55] #2 closed

[2017-08-25 16:38] agarrharr opened #4 "GNOME Terminal"
Hey, I just made a color scheme for GNOME terminal for the nova color scheme, and I found themer. It might be cool to add GNOME Terminal support to themer. What do you think?

[2017-08-25 18:51] mjswensen commented on #4
Nice! I think that would be awesome. I had actually had GNOME terminal support on my backlog for a while but hadn't gotten around to looking at it yet.

Just looked at your nova GNOME repo—seems like it wouldn't take too much to implement a `themer-gnome-terminal` template using the same ideas. Would you be interested in building/maintaining/publishing the template package yourself (see https://gi

[2017-08-25 19:05] agarrharr commented on #4
Yeah, I'll work on it myself over at https://github.com/agarrharr/themer-gnome-terminal. I made [an issue over there](https://github.com/agarrharr/themer-gnome-terminal/issues/1) for discussion while it's in progress.

[2017-08-26 01:39] mjswensen commented on #4
Great!

[2017-08-26 03:26] agarrharr commented on #4
This is done!

[2017-08-26 03:26] #4 closed

[2017-08-28 13:24] citrusui opened #5 "Swift 4 / High Sierra changes"
Looks like Swift 4 has broken Themer's generation of Terminal.app palettes. Here's a screenshot of what I mean:

<img width="1264" alt="screen shot 2017-08-28 at 9 21 42 am" src="https://user-images.githubusercontent.com/9056756/29775254-76511022-8bd2-11e7-82d8-f7971630719c.png">

NOTE: This only appears to affect Terminal.app. Everything else exports as expected.

[2017-08-30 03:25] mjswensen commented on #5
Thanks so much for reporting this, @citrusui . I will start looking into ways to make the Swift script compatible with Swift 4 soon. I've made an issue over at https://github.com/mjswensen/themer-terminal/issues/1 to continue tracking this.

[2017-08-30 03:25] #5 closed

[2017-08-31 08:48] eivindml opened #6 "Theme support for Xcode"
Would be cool to also have support for Xcode themes. Themes are in a XML format. See examples [here](https://github.com/hdoria/xcode-themes).

[2017-09-01 03:07] mjswensen commented on #6
Definitely have had Xcode on my radar for a while—thank you for logging this, and for providing a link to useful resources. 👍

[2017-09-01 20:52] simonljus opened #7 "Feature: Display what shades and accents that will be mapped to the colors for a theme"
I have tried out Themer for a few hours and I tried to make a new color scheme for Sublime Text. I had some problem figuring out which accents and shades were used for what in Sublime. I tried to view it manually later but it would be great if it was possible to see it directly in the app when customizing a theme.  The mappings could be viewed under a menu or something.

[2017-09-02 21:45] mjswensen commented on #7
This makes a lot of sense, @simonljus . I had actually had something similar at one point, but ended up taking it out. 😑 I will dig it out of the git history and put it back in under a menu option, as you suggested.

I'll close this for now and create an issue over on [themer-gui](https://github.com/mjswensen/themer-gui) since technically that's where this feature will go.

[2017-09-02 21:45] #7 closed

[2017-09-09 03:18] #6 closed

[2017-09-09 03:21] mjswensen commented on #6
@eivindml : I've added support for Xcode (see [themer-xcode](https://github.com/mjswensen/themer-xcode) or [themer-gui](https://github.com/mjswensen/themer-gui)). I don't use Xcode full-time so if anything seems funky about the outputted themes feel free to log an issue over on [themer-xcode/issues](https://github.com/mjswensen/themer-xcode/issues).

[2017-09-10 12:17] eivindml commented on #6
awesome stuff. Looks great for now. Will report if any thing funky appears 👍

[2017-09-20 10:19] PDDStudio opened #8 "Adding support to export colors/themes for Android"
It would be cool to be able to export Colors/Themes/Styles for Android-Apps.
Colors are defined in xml.

Sample:

[code]

[2017-09-21 01:24] mjswensen commented on #8
Nice idea, thanks for submitting, @PDDStudio . I haven't done Android dev since school—would you have any interest in implementing this as a template package? ([themer-alfred](https://github.com/mjswensen/themer-alfred) is an example of how a template package is done.)

[2017-09-24 22:27] katacarbix opened #9 "GTK3 theme?"
I have no idea how GTK themes are colored, but I think this would be a cool idea. It might be more than you can handle, and that's ok.

[2017-09-25 09:35] PDDStudio commented on #8
Hi @mjswensen sorry for my late reply! I could give it a try, though I'm not that good in JS.

[2017-09-25 12:15] PDDStudio commented on #8
@mjswensen Take a look at [this](https://github.com/PDDStudio/themer-android)

[2017-09-27 12:23] mjswensen commented on #8
@PDDStudio 👏 Nice! I will add a link to your repo on the readme so others can find it!

[2017-09-27 12:31] #8 closed

[2017-09-27 13:05] mjswensen commented on #9
Thanks, @katacarbix , that is a great idea! Looks like GTK themes have a fairly high complexity ceiling ([here's one that looks pretty cool](https://github.com/vinceliuice/matcha)), but I wonder if something basic would still be a valid theme and wouldn't be too hard. 🤔

Themer templates are nothing more than [a JavaScript function that takes a set of colors and returns a list of files to be writt

[2017-10-11 11:23] jajaperson opened #10 "Xcode theme support"
It would be really nice to be able to export colours/themes to Xcode

[2017-10-11 15:24] mjswensen commented on #10
Good news, @jajaperson , themer has support for Xcode 👍  See [themer-xcode](https://github.com/mjswensen/themer-xcode) (and https://github.com/mjswensen/themer/issues/6).

[2017-10-11 15:24] #10 closed

[2017-10-16 11:04] AmyAmy opened #11 "cmd.exe theme"
Would be windows only ofcource, the output would be a .reg file, like this example:

https://github.com/neilpa/cmd-colors-solarized/blob/master/solarized-light.reg

[2017-10-21 19:36] mjswensen commented on #11
Great idea, @AmyAmy , thanks for submitting. I've got it on the backlog.

[2017-11-02 02:03] mjswensen commented on #9
I'm closing this for now, due to inactivity, but I am willing to re-open if there is a lot of interest for GTK support.

[2017-11-07 04:26] mjswensen commented on #11
@AmyAmy , I've added basic CMD.exe support over at [themer-cmd](https://github.com/mjswensen/themer-cmd) for the CLI, as well as to [themer's GUI](https://github.com/mjswensen/themer-gui/releases/tag/v0.13.0). Thanks for the link to the example as it was very helpful.

I'm not on Windows full-time (though I did test this in a VM) so feel free to submit feedback at the [themer-cmd](https://github.c

[2017-11-07 04:26] #11 closed

[2017-11-24 23:54] SamyGhannad opened #12 "Visual Studio template support"
Hi !
I think themer is a great idea with a great implementation, however, I really love to be able to export themes and color schemes for both Visual Studio (IDE, not VS Code) and Jetbrain's products (Intellij, Pycharm, PhpStorm, Gogland etc) .
Thanks!

[2017-11-28 16:06] munchyfly opened #13 "Theme Templates Suggestions"
WhatsApp: https://www.whatsapp.com/
Ramme: https://github.com/terkelg/ramme
Alduin: https://alduinapp.github.io/
Wox: https://github.com/Wox-launcher/Wox
Punk: https://github.com/scholtzm/punk

[2017-12-22 16:29] diomed opened #14 "Brackets"
Support for Brackets editor theme exports, please.

brackets.io

[2017-12-28 19:32] jathu opened #15 "Shade color interpolation"
I think users should only need to give the darkest color and the lightest color for the shades. Themer should automatically generate the in-between colors using this formula:

[code]

[2017-12-28 19:43] mjswensen commented on #15
Fantastic idea. The [GUI version](https://github.com/mjswensen/themer-gui) actually has this feature as of [`v0.12.0`](https://github.com/mjswensen/themer-gui/releases/tag/v0.12.0), but I should add this to the CLI as well.

[2017-12-31 20:55] ss18 opened #16 "Fix typo"
src/resolve.spec.js: "nonexistant" should be "nonexistent"

[2018-01-13 17:01] #16 closed

[2018-01-13 20:48] mjswensen commented on #15
Thanks again, @jathu . Check out the [v3 release](https://github.com/mjswensen/themer/releases/tag/v3.0.0). 👍

[2018-01-13 20:48] #15 closed

[2018-01-20 16:00] amcdnl opened #18 "5k Background Support"
It would be awesome if it had support for 5k backgrounds.

[2018-01-22 14:18] mjswensen commented on #18
Hi @amcdnl , did you know that the various wallpaper packages support passing custom resolutions as arguments to `themer`? Here is an example using [themer-wallpaper-block-wave](https://github.com/mjswensen/themer-wallpaper-block-wave) to generate a 5K wallpaper:

[code]

You can pass `--themer-wallpaper-block-wave-size` multiple times to get multiple resolutions (one for your 5k monitor, one for

[2018-01-22 18:30] #18 closed

[2018-03-16 02:09] mjswensen commented on #12
Renaming this to "Visual Studio" only, as I'm currently working on the Jetbrains template. 🙂

[2018-03-16 09:05] dotWaldemar opened #20 "From Sublime to Themer"
Can I convert from Sublime Text theme to themer?

[2018-03-16 12:59] mjswensen commented on #12
@SamyGhannad , we now have a [JetBrains template package](https://github.com/tomselvi/themer-jetbrains), contributed by @tomselvi, FYI. 🎉

[2018-03-21 17:32] mjswensen commented on #20
Hi @dotWaldemar , themer currently doesn't support going backwards from a ST theme to a themer color set. We can leave this issue open for a while to see if others want to speak up if they are interested in a feature like this.

In the meantime, a workaround would be to open the theme file and copy the relevant colors into a [themer color set file](https://github.com/mjswensen/themer#create-your-o

[2018-03-24 23:41] trevordmiller opened #21 "Broken images in README"
It seems that the README has broken images:

![image](https://user-images.githubusercontent.com/5497885/37870084-98f32aa0-2f8a-11e8-8046-43d978bf1f5c.png)

Also, thanks for adding Nova!

[2018-03-26 15:53] mjswensen commented on #21
Thanks, @trevordmiller ! I just checked now and it appears to be all good again:

![image](https://user-images.githubusercontent.com/1591879/37917266-2b29fcc2-30db-11e8-9ae4-981f99c2e20c.png)

It's possible my hosting provider ([now.sh](https://zeit.co/now)), where these generated images are served, was experiencing an outage at the moment you saw this. 🤔 Let me know if you notice it again. 🙌

[2018-03-26 15:53] #21 closed

[2018-03-26 15:56] trevordmiller commented on #21
@mjswensen Thanks for checking. I still have a bunch of 404s. Not sure if it is just me.

![image](https://user-images.githubusercontent.com/5497885/37917566-fc1c4592-30db-11e8-9c4c-879e18ec41b0.png)

[2018-03-26 15:57] trevordmiller commented on #21
I cleared my cache as well, still same 404s

[2018-03-26 16:12] mjswensen commented on #21
Looks like some of the images were indeed missing from my most recent deployment of [themer.mjswensen.com](https://themer.mjswensen.com)! I re-deployed them and tried some of the suggestions on [this page](https://help.github.com/articles/about-anonymized-image-urls/) for good measure; mind trying again to see if they appear for you?

[2018-03-26 16:13] trevordmiller commented on #21
@mjswensen All fixed, no more 404s :) Thanks!

[2018-03-26 16:18] mjswensen commented on #21
Thank YOU!  🙌

[2018-04-04 10:40] jajaperson opened #22 "JetBrains IDE Support?"
This would be a very nice feature to have, seeing that JetBrains IDEs are so popular.

[2018-04-04 19:02] mjswensen commented on #22
Hi @jajaperson , good news! Themer does actually already support the JetBrains suite of products. See [tomselvi/themer-jetbrains](https://github.com/tomselvi/themer-jetbrains).

It's also supported in the GUI as of [v0.17.0](https://github.com/mjswensen/themer-gui/releases/tag/v0.17.0).

[2018-04-04 19:02] #22 closed

[2018-05-24 01:01] phmullins opened #24 "Request: Textual Template"
Requesting a template for [Textual](https://github.com/Codeux-Software/Textual).

[2018-06-10 03:36] mjswensen commented on #24
Cool! I hadn't seen Textual before. That would be awesome. I'll mark this with the "help wanted" label to see if anyone wants to try to implement it. ([docs](https://github.com/mjswensen/themer#create-your-own-template))

[2018-09-27 11:15] emptystr opened #25 "Monokai Pro"

[2018-10-02 12:42] mjswensen commented on #25
Looks like [Monokai Pro](https://www.monokai.pro) is a paid theme.

[2018-10-10 06:21] Dragonxero opened #27 "Add Theme Template to Konsole"
I have used for a while your tool for color schemes on  jetbrains, and i have to manually convert some schemes to be used on my terminal on KDE.
Would you please consider add the template to KDE Konsole colorscheme file.
Thanks in advance

[2018-10-15 20:58] mjswensen commented on #27
Thanks for the heads up, @Dragonxero . Do you have a link to the KDE Konsole color scheme documentation?

[2018-10-15 21:46] Dragonxero commented on #27
I think this should be the starting point.
https://docs.kde.org/stable5/en/applications/konsole/index.html

[2019-04-07 13:53] alexwilson opened #28 "Support for more than light vs. dark"
Hey,

Gauging interest before I have a crack at this: I'm playing with building themes dynamically from brands in https://github.com/antoligy/ft-themer and am wondering if there's appetite to support multiple "modes" (or, really, brands) instead of only Light and Dark.

It seems like a number of subcomponents, as well as all of the logic around naming/selecting colours, is based around there only

[2019-04-09 21:59] mjswensen commented on #28
Hey Alex,

Really interesting thoughts! I think a more multi-mode approach would be really nice in a lot of cases. Though there are indeed a few challenges:

* A fair amount of light/dark assumptions made throughout the various packages, as you've pointed out
* Sometimes, this light/dark assumption is baked right into the tool (for example: vim), so a bit of thought would have to go in to breaking

[2019-04-12 00:03] tomselvi opened #29 "Thank you for themer"
Not an issue, but wanted to send some appreciation for all your great work on themer.  It has made my software development and computer usage extremely delightful.  So much so, that you inspired me to whip together https://www.github.com/tomselvi/nightenv which really wouldn't have been possible without it.

Thank you!

[2019-04-17 02:26] mjswensen commented on #29
Thanks so much for the kind words, @tomselvi ! I'm so glad themer has been fun for you to use. Thank you so much for your contributions to themer, too. I am just checking out [nightenv](https://github.com/tomselvi/nightenv) now and it looks awesome. What a brilliant idea.

[2019-04-17 13:43] nmaggioni opened #30 "Guake Terminal"
It'd be really nice if Themer could support Guake - there's [an outdated project out there](https://github.com/varemenos/iterm2guake) to convert iTerm2 colors to Guake profiles, but the palette management has since then [been simplified](https://github.com/Guake/guake/blob/master/guake/palettes.py).

[2019-04-25 12:33] mjswensen commented on #30
Thanks for the request, @nmaggioni ! After looking at the docs it seems like a potential `themer-guake` package would probably be fairly similar to [`themer-gnome-terminal`](https://github.com/agarrharr/themer-gnome-terminal), and hopefully wouldn't be too complicated.

Since my current setup isn't linux-based I am going to put the "Help wanted" label on this issue and see if you or anyone else wa

[2019-05-03 17:11] drewswaycool opened #31 "Meta: Where can I find the actual Block Wave wallpaper?"

[2019-05-05 02:55] mjswensen commented on #31
Hi @drewswaycool , what do you mean by _actual_?

[2019-05-08 19:23] drewswaycool commented on #31
I think I didn't read deep enough into what this tool is/does. It appears that you can generate a background based off of theme colors etc..?

[2019-05-08 19:23] #31 closed

[2019-05-08 19:25] mjswensen commented on #31
No worries. Yes, that's correct. You give it a set of colors (or use a built-in set), and it will generate themes for your tools as well as a matching background.

[2019-07-30 20:03] divyanshu013 opened #32 "Feature request: prismjs"
Not sure how tricky it might be to generate a prismjs theme as well. Thanks.

[2019-07-31 14:42] mjswensen commented on #32
Thanks for logging, @divyanshu013 ! Looking over the Prism docs and it doesn't seem like it would be very hard at all.

Using https://github.com/mjswensen/themer/blob/master/cli/packages/themer-slack/lib/index.js as a guide for the `render()` function, and https://github.com/PrismJS/prism/blob/master/themes/prism.css as a foundation for the Prism CSS theme, the template JS file would end up someth

[2019-07-31 16:01] divyanshu013 commented on #32
Thanks, I can take a look but not sure about how soon. Will send a PR if I can make it work :)

[2019-08-05 12:26] #32 closed

[2019-08-05 12:46] mjswensen commented on #32
Thanks again, @divyanshu013 ! 🙌 [themer-prism@1.0.0](https://www.npmjs.com/package/themer-prism) has been released to npm and is now also available in the [Web UI](https://themer.dev).

[2019-10-02 20:46] 12vanblart commented on #14
I can take a crack at this!

Should be able to get to a good starting point.

[2019-11-05 15:42] spenserblack opened #34 "ctermfg and ctermbg for themer-vim"
Thanks for this awesome tool!

Looks like themer-vim creates a file that sets colors for `guifg` and `guibg`, but is there any chance `ctermfg` and `ctermbg` could be supported as well?

[2019-11-07 03:25] mjswensen commented on #34
Thanks, @spenserblack !

I don't see why not. I haven't been in vim full-time for a couple of years now—would you have any interest in putting together a PR to validate that `ctermfg`/`ctermbg` works for you? Fortunately using the CLI to test the change in your fork should be straightforward:

[code]

If not, I will try to get to it when I get a chance!

[2019-11-07 13:15] spenserblack commented on #34
Sure, no problem! :smiley:

[2019-11-21 02:43] #34 closed

[2020-04-08 21:12] andradei opened #40 "Add Alacritty to supported terminals"
This is the format it uses: https://github.com/alacritty/alacritty/wiki/Color-schemes

Pasted here:

[code]

[2020-04-08 21:18] andradei opened #41 "Add theme creation for .Xresources"
It would be great to add support to create a theme for linux users of Xorg. The syntax is:

- colors 0-7 are the normal/dark colors
- colors 8-15 are the lighter/bright colors

(I didn't differentiate the bright from the dark colors hex codes in this example)

[code]

[2020-04-12 09:25] talentlessguy commented on #9
I'm interested in this, because in comparison of KDE, I can't theme it using settings, so having a way to theme it with web app could be nice

[2020-04-12 20:49] j4nr6n opened #43 "Error in generated Vim theme or instructions"
<details>
    <summary>The errors</summary>

    Error detected while processing /home/blah/.vimrc:
    line    6:
    E35: No previous regular expression
    Error detected while processing /home/blah/.vim/colors/ThemerVim.vim:
    line   49:
    E121: Undefined variable: s:guishade6
    line   50:
    E121: Undefined variable: s:ctermshade6
    line   58:
    E121: Undefined variable: s:guishade

[2020-04-12 23:13] TannerYoung opened #44 "Unexpressible kitty / Xresources theme"
I can't express my current theme in the configuration provided:
Desired output:
[code]

Closest configuration:
[code]

Result: (sorted for cleaner comparison)
[code]

This doesn't allow using the bolded accent colors for terminals as far as I can tell. Is there something I'm doing wrong?

[2020-04-13 13:10] #43 closed

[2020-04-13 13:12] mjswensen commented on #43
Thank you for logging this! Yes, setting the `background` option is required since a single theme file can  contain both the light and dark variants. I've updated the generated documentation to reflect this.

Now available in `themer-vim@3.2.1` for CLI—will be pushed to web UI shortly.

[2020-04-13 13:55] mjswensen commented on #9
Cool. Reopening.

[2020-04-13 18:49] kalligator commented on #9
That would be sweet if possible!

[2020-04-15 13:16] #25 closed

[2020-04-16 00:58] mjswensen commented on #40
Working on this now.

[2020-04-17 08:43] kinduff opened #47 "Terminator terminal"
Big fan of Terminator, if anyone is interested (and it's interesting for the project mantainers), I can do a PR to provide support for this.

[2020-04-17 08:45] kinduff opened #48 "Firefox theme"
If anyone else interested, I can take over and submit a PR to provide a Firefox theme.

[2020-04-17 16:55] reinhart1010 opened #49 "Telegram (Desktop, Android, Telegram X Android) theme"
I’d like to request for Telegram support. Currently, Telegram (clients) have different theme formats specifically for:

- Telegram for Desktop
- Telegram for Android
- Telegram X for Android

(the official iOS app currently does not support themes)

[2020-04-18 05:52] DenisBalan opened #50 "Add Windows terminal support"
Windows terminal has also ability to be customized

[2020-04-18 13:37] #40 closed

[2020-04-18 13:49] mjswensen commented on #40
OK, this is available in `themer-alacritty@1.0.0` for CLI, and is deploying to the web UI now.

I think I mapped the colors correctly but please do let me know if you see anything weird (like text with the same color as the background or something 😱)!

[2020-04-18 14:04] andreicristianpetcu commented on #48
Firefox and Chrome extensions have almost the same APIs https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Browser_support_for_JavaScript_APIs

and here are the themes https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme

[2020-04-18 14:16] andreicristianpetcu commented on #48
not sure about Chrome but in Firefox you can make themes borderless (new tab and toolbars blend into each other. same with the sidebar) example https://addons.mozilla.org/en-US/firefox/addon/borderless-dark/

[2020-04-19 18:03] andreicristianpetcu commented on #48
https://github.com/mjswensen/themer/blob/fdb49f6282be0893c5f01e21bc9e798f7fcd3c58/cli/packages/themer-chrome/lib/index.js#L15-L52

Firefox supported properties:
 - bookmark_text
 - frame
 - ntp_background
 - ntp_text
 - tab_background_text
 - tab_text
 - toolbar

Not supported:
 - tab_background_text_inactive
 - tab_background_text_incognito
 - tab_background_text_incognito_inactive
 - omnibox_tex

[2020-04-19 18:10] kinduff commented on #48
I am but seems like you're super informed on how to achieve this, so feel free to start! I'll chime in if required :) all yours my friend.

[2020-04-20 07:34] andreicristianpetcu commented on #48
:drum: :tada: we have a PR https://github.com/mjswensen/themer/pull/51

[2020-04-20 10:36] andreicristianpetcu opened #52 "Please add support for tilix"
https://gnunn1.github.io/tilix-web/

[2020-04-20 12:49] HosamHasanRamadan opened #53 "side by side themeing"
side by side feature will be amazing because every time I change color I have to scroll to see the preview.

[2020-04-20 14:47] andreicristianpetcu opened #54 "Add preview link for Firefox"
The easiest way to distribute/install Firefox themes is with https://color.firefox.com/

It would be really cool if we had a preview link.

Chrome
Firefox ([preview](https://color.firefox.com/?theme=XQAAAAIfAQAAAAAAAABBqYhm849SCia2CaaEGccwS-xNKlhvzmaOMdVyJto3_0aZbNAt3PNrQ1iSTVXcEu1e31YPSoK5zjCy_PUNbE91hBBLFD0EKbAr1p7K4sDUzWXa1VvvKgHJtYrPtlJcXzpqVyO5Zl2xu10F1euGweq54QcxLgLZH1UyemCbEEIjjhR8kGOpVw_BZ

[2020-04-20 15:42] andreicristianpetcu commented on #54
this is how the theme is converted to the URL in the Color extension and site
https://github.com/mozilla/FirefoxColor/blob/a43d5c66c7dc6f644f4e42e6a53ed1df9e19f099/src/web/index.js#L45-L50

[2020-04-20 19:28] #28 closed

[2020-04-20 19:29] #29 closed

[2020-04-21 09:39] RubenVerg commented on #50
https://www.npmjs.com/package/themer-windows-terminal

[2020-04-21 15:09] mjswensen commented on #48
This should be going live shortly! 🎉

I spent a few hours this morning trying to figure out a smooth path for installing locally built extensions. Turns out it's a rather convoluted process that I don't think themer users will want to do (you have to set up an FF developer account, upload your theme package and wait for Mozilla to verify your theme, etc., etc.—or always run FF in temporary dev mod

[2020-04-21 15:11] mjswensen commented on #54
Resolved by in 31ab98c.

[2020-04-21 15:11] #54 closed

[2020-04-21 18:03] andreicristianpetcu commented on #48
I wanted to generate a real ff theme to publish it. That is why I wanted to contribute to this. You are not a ff user and you don't understand ff users.

If I had to pick between ff color and ff theme I would pick ff theme. Nobody searches themes on ff color. Everybody searches on https://addons.mozilla.org/en-US/themes/

Chrome gets real themes while ff gets only color. If you want to make an off

[2020-04-21 18:06] andreicristianpetcu commented on #48
As the other ff user here, please tell me if I'm wrong @kinduff

[2020-04-21 18:11] andreicristianpetcu commented on #48
or here's an idea: why not generate the theme just like chrome AND link the url of the theme in the readme. Same package.

[2020-04-21 18:31] andreicristianpetcu commented on #48
This is the Chrome theme vs the Firefox Colors theme for Solarized dark :(

![image](https://user-images.githubusercontent.com/922368/79900448-ea1ae700-8416-11ea-85ed-e99d60867669.png)

Now compare them to the Solarized dark that I made.

![79725025-33711680-82f1-11ea-86c3-05fd36a7cd2d](https://user-images.githubusercontent.com/922368/79900581-1b93b280-8417-11ea-8809-0e1846aecfc2.png)

I would say

[2020-04-21 18:41] mjswensen commented on #48
I hear you. But that is not the _primary_ use case for themer, which is for people to create _personal_ themes for their tools.

Chrome allows you to easily load unpacked (and unsigned) extensions indefinitely—Firefox only allows you to do this in a temporary way. Therefore, the only way to use a themer-generated theme is:

* Set up a Mozilla account, and go through the process of verification and

[2020-04-21 18:51] andreicristianpetcu commented on #48
Let your users choose!
Generate the manifest (like in my initial implementation) and include in the readme a link to the color project and mention the differences between the two: color (no account but does not look as good as in Chrome) vs theme (looks really nice but you need a Firefox account). Both should be in the same generator.

BTW I had trouble opening both the .url file on both Fedora an

[2020-04-21 19:03] kinduff commented on #48
My two cents:

I see why Firefox Colors is convenient, and that's actually the main reason of why it exist. It's also very simple to implement, install, and share. Even for regular users. Chrome doesn't have something like this.

In the other hand, as a power user, and probably the most common user in Themer, I will always prefer a plugin, instead of Firefox Colors, because I like to own my system

[2020-04-21 19:08] mjswensen commented on #48
Sounds like a good plan to just ship both then. Thanks for your input, @andreicristianpetcu and @kinduff !

Will finish up the plumbing on the `dev` branch and get it merged as soon as I get a chance.

[2020-04-21 19:10] andreicristianpetcu commented on #48
do you want to implement this, or should I?

[2020-04-21 19:18] mjswensen commented on #48
I'll take care of it. Just need to combine the FF Colors work with your implementation and deprecate the old package.

Also, if @j4nr6n sees this thread and would like to re-use the `themer-firefox` package, we'll do that, otherwise I'll release it under a different name.

[2020-04-21 23:11] andreicristianpetcu commented on #48
Maybe we can fix the problem upstream also :smile: https://github.com/mozilla/FirefoxColor/issues/923

[2020-04-22 12:24] #48 closed

[2020-04-22 12:29] mjswensen commented on #48
Deploying now! 🎉

Now there is a single checkbox in the web UI, "Firefox", and users will get both the full-featured add-on package source, and the URL for Firefox Color.

Thanks @andreicristianpetcu and @kinduff for your work and input on this.

[2020-04-22 12:47] kinduff commented on #48
@mjswensen Awesome Matt, thanks a lot for your openness regarding this issue. And congrats @andreicristianpetcu, great work! See you in the next issue!

[2020-04-22 17:27] j4nr6n commented on #48
@mjswensen I've added you as a maintainer on `themer-firefox` if you want to release a `2.0` or something and take over the package. I'll re-publish mine if I ever need it but, I think this extension ended up being the better solution.

[2020-04-23 02:19] mjswensen commented on #48
Thanks a ton, @j4nr6n ! It actually turned out to be simpler to just keep the two packages separate in the end, so we'll leave everything as is for now—but I really appreciate you being willing to tag-team on the package.

[2020-04-23 02:58] mjswensen commented on #52
Thanks for sending along—hadn't heard of tilix before. Looks like there is some theme documentation at https://gnunn1.github.io/tilix-web/manual/themes/

[2020-04-23 14:44] mjswensen commented on #44
I think what's happening here is the mapping of colors in [themer-kitty](https://www.npmjs.com/package/themer-kitty) is not lining up with what you'd expect.

This is a community-contributed package, but the [original repo](https://github.com/0x52a1/themer-kitty) backing the npm package is gone—I'll need to add a new, officially supported version so that we can fine-tune the color mappings from th

[2020-04-23 14:45] mjswensen commented on #44
Will get to this as soon as I get a chance!

[2020-04-23 19:27] JonathanTroyer opened #56 "Mattermost template"
Heyo!

I've implemented a [Mattermost template](https://www.npmjs.com/package/themer-mattermost). I'd love if it could be incorporated into the README and possibly the site. Thanks!

[2020-04-23 20:52] UraniumR opened #57 "Website freezes when i click on wallpaper preview"
For some reason when i click on one of the wallpapers preview the website get frozen and after a whiles a dead bird icon pops out , and i have to refresh it to get it to work again

[2020-04-25 19:16] mjswensen commented on #57
Thanks for the heads up, @UraniumR —can you tell me which OS and browser you are using?

[2020-04-25 23:42] UraniumR commented on #57
im using : 
Windows 10 OS Version 1803 (Build 17134.1130)
Browser : Vivaldi ( 2.11.1811.52 (Stable channel) (64-bit) )

[2020-04-27 23:39] pbsds opened #59 "Better describe the accents and shades, and showcase them better in the web UI"
I'll preface this issue by saying i have only used the Web UI so far. Oh, and what a great project!

I am currently having to brute-force my way through when using the web UI to make my theme, which is an indication of a underlying problem: The lack of intention for each shade and accent

Specifically `accent1` has no other description than "syntax", and is not  showcased at all in the code previe

[2020-04-28 12:26] #56 closed

[2020-04-28 12:27] mjswensen commented on #56
Thank you so much for contributing, @JonathanTroyer ! I've included your template in the README.

[2020-04-30 14:45] mjswensen commented on #41
Working on this now.

[2020-04-30 14:47] mjswensen commented on #57
Thanks for that information. Downloading a Windows VM now to see if I can reproduce the issue.

Do you mind sending the full URL where you see the problem?

[2020-05-01 13:02] #41 closed

[2020-05-01 13:07] mjswensen commented on #41
@andradei / @Julioevm I just published `@themer/xresources` and it is deploying to the web UI right now. Give it a try and let me know what you think—I'm not an X user myself so don't hesitate to log an issue if it could be improved.

Here is some example output using themer's default color set.

Dark variant:

[code]

Light variant:

[code]

[2020-05-01 13:21] mjswensen commented on #59
@pbsds , thank you so much for taking the time to write this up with great clarity and detail. You have made some excellent points.

I agree that the color descriptions could be clarified. There is a tricky balance to strike, however—each theme renders slightly differently, and different editors/IDEs/terminals may use the colors in slightly different contexts; hence the need to keep the descriptio

[2020-05-02 21:04] mjswensen commented on #44
OK, I've released an officially supported version at `@themer/kitty` on npm, as well as deployed it to the web UI in lieu of the community-contributed module. It's got some additional properties that the original didn't have, as well.

Give it a try, @TannerYoung , and feel free to log another issue if anything looks incorrect.

[2020-05-02 21:04] #44 closed

[2020-05-04 07:05] talentlessguy commented on #9
For anyone interested here's an official [theme tutorial](https://wiki.gnome.org/Attic/GnomeArt/Tutorials/GtkThemes)

I am in process of writing it but probably someone could implement it before me :smile:

[2020-05-05 12:57] #13 closed

[2020-05-05 12:59] mjswensen commented on #13
Official support for Wox has been added—the other tools either don't offer official support for theming or are no longer maintained.

[2020-05-06 17:00] Defman21 opened #60 "Font name in the screenshot?"
The result screen in the README (Now check the `gen/` folder...) has a nice font. Could you tell its name please?

[2020-05-07 12:31] mjswensen commented on #60
It’s been a while since that screenshot was taken but I believe the font is [Monoid](https://github.com/larsenwork/monoid).

[2020-05-07 12:31] #60 closed

[2020-05-07 13:06] #50 closed

[2020-05-07 13:08] RubenVerg commented on #50
oh wow is it any similar to mine?
will test for sure

[2020-05-07 13:14] mjswensen commented on #50
Was just coming here to post that I had also added yours to the [README](https://github.com/mjswensen/themer#community) as an alternate option, @RubenVerg — thank you for the contribution! 🙏

[2020-05-07 13:37] RubenVerg commented on #50
:)

[2020-05-07 13:38] RubenVerg commented on #50
also just found a 'slight' bug that in my pack the light one is called dark and vice versa, gotta fix that soon!

[2020-05-08 14:22] RubenVerg opened #61 "WT has no yellow"
Windows Terminal doesn't have a yellow key, only a bright yellow one.

[2020-05-08 14:24] RubenVerg commented on #49
might do this

[2020-05-11 12:12] #61 closed

[2020-05-11 12:12] mjswensen commented on #61
Great catch, @RubenVerg — I has mis-typed one of the key names so it was not being included in the output. Fix pushed!

[2020-05-13 12:38] mjswensen commented on #57
@UraniumR still no luck in reproducing the issue on my end—I've added some error tracking through [Sentry](https://sentry.io) in hopes that the issue will surface in the wild and give me a clue as to what's going on.

In the meantime, if you run into it again, let me know. As much detail as possible would be most helpful (URL, series of actions taken before opening up the wallpaper preview, any br

[2020-05-13 13:23] UraniumR commented on #57
Oh, i just went to check out the website , and i have found that the problem have been resolved.
It told me themer have been updated , so i suppose that the last update fixed the problem.
Thanks <3

[2020-05-13 13:24] mjswensen commented on #57
Thanks for the update, @UraniumR !

[2020-05-15 10:35] krisu5 opened #63 "Theme support for Notepad++"
Here's Cracula theme for example: https://github.com/dracula/notepad-plus-plus/blob/master/Dracula.xml

[2020-05-16 12:45] mjswensen commented on #63
Great suggestion @krisu5 , will put it on the backlog 👍🏻

[2020-06-01 18:54] reinhart1010 commented on #27
@mjswensen this is as easy as generating plain-text, `.colorscheme` files.

Examples:
+ https://github.com/phiggins/konsole-colors-solarized/blob/master/Solarized%20Dark.colorscheme
+ https://store.kde.org/content/show.php/Monokai+konsole+colorscheme?content=154765
+ https://github.com/nareshv/kde-konsole-colorschemes

Btw, this theme format is also compatible for KDE Plasma 4 (current version is

[2020-06-02 02:49] mjswensen commented on #27
Thanks for the links, @reinhart1010 ! Will get this out as quickly as I can.

[2020-06-03 12:11] #27 closed

[2020-06-03 12:15] mjswensen commented on #27
@Dragonxero @TopHatCroat @layoaster @KristobalJunta @reinhart1010 this is now available for the CLI (npm package: [`@themer/konsole`](https://www.npmjs.com/package/@themer/konsole)) or in the [web UI](https://themer.dev).

[2020-06-24 00:16] #12 closed

[2020-07-03 06:54] Offirmo opened #67 "feature request: export to CSS?"

[2020-07-03 10:38] itshaydendev commented on #57
@mjswensen Can we re-open this? I'm running into it on my end.
NixOS 20.03, Chromium browser

[2020-07-03 17:01] mjswensen commented on #57
Yep, @itshaydendev . Can you tell me which wallpaper triggers the issue? I have some theories.

[2020-07-03 17:09] itshaydendev commented on #57
All except triangles burst and shirts

[2020-07-03 18:15] mjswensen commented on #57
Thank you! Do you mind me asking how much RAM you have and how fast your CPU is? My best bet right now is that this is a performance issue with inserting a complex SVG into the DOM.

[2020-07-03 21:50] itshaydendev commented on #57
I've got a Ryzen 5 1600 and 16gb of 3200MHz ram underclocked to 3100 for stability reasons with my mobo for now

[2020-07-07 13:18] mjswensen commented on #67
I like this idea, @Offirmo . Here is what I'm thinking to do:

If the color set only exposes **either** a dark variant or a light variant, output a file like this:

[code]

If the color set exposes **both** a dark variant and a light variant, output a file like this:

[code]

[2020-07-07 13:20] mjswensen commented on #67
(TIL: if you press `command`-`shift`-`return` while typing a comment, the issue gets closed. Whoops 🙄 )

[2020-08-23 18:02] itshaydendev commented on #9
This would be awesome to have if possible!

[2020-09-20 02:16] #67 closed

[2020-09-20 02:18] mjswensen commented on #67
@Offirmo this is deployed now to themer.dev and available for CLI at `@themer/css`. I went with a slightly different format than the one proposed above—feel free to try it out and let me know if some other structure would be useful.

[2020-10-02 15:45] kinduff commented on #47
@mjswensen Hey! Got a few hours to kill this weekend, would love to revisit this one

[2020-10-02 16:12] mjswensen commented on #47
Sounds great, @kinduff ! I recently added a CONTRIBUTING.md file with some docs and shell scripts that hopefully make the process of setting up a new template package quicker/easier. Fee free to reach out with any questions, too.

[2020-10-03 11:17] kinduff commented on #52
Happy to take this @mjswensen

[2020-10-03 17:27] mjswensen commented on #52
Sounds great, @kinduff ! 🙏🏻

[2020-10-05 12:41] #47 closed

[2020-10-07 23:49] Luke-zhang-04 opened #77 "Vim undefined variable"
# Description

Usage of themer along with @themer/vim causes undefined variable errors

# To reproduce

Steps to reproduce the behavior:

1. Use themer template
2. generate

## Screenshots

![image](https://user-images.githubusercontent.com/55749227/95399095-61650a00-08d5-11eb-9176-6e2ad9303401.png)

## Expected behavior

No errors

# Environment information

## CLI

Please fill out the following

[2020-10-08 01:55] Luke-zhang-04 commented on #77
Massive facepalm

This is really embarrassing

[2020-10-08 01:55] #77 closed

[2020-10-08 15:06] mjswensen commented on #77
Is it working for you now, @Luke-zhang-04 ? If so, what was the issue?

[2020-10-08 16:03] Luke-zhang-04 commented on #77
I didn't set my background to dark to the code under the if didn't execute :man_facepalming:

[2020-10-09 12:43] mjswensen commented on #77
Ahh, I see 😁 I'm glad it's working now!

[2020-10-19 12:27] #57 closed

[2020-10-19 12:31] mjswensen commented on #57
Hi folks, I just released an update that converts all wallpaper packages to use PNG format (via canvas) rather than SVG. Since I've never been able to reproduce this issue, I'm hoping that between the format change, using blob URLs rather than `data:` URLs, and better wrapping of the URL in a `useEffect` hook, this problem goes away... but please feel free to reopen if not!

[2020-12-01 21:12] shadowrylander opened #81 "Support for Vivaldi"
Hello! 😸

Support for the Vivaldi browser (specifically the tabs) would be very much appreciated!

Thank you kindly for your consideration on the matter!

[2020-12-16 03:54] shlemas commented on #59
I was planning to write this up in a separate issue but saw this related one open already, so I'll add to it. Sorry in advance for the long comment. 😉

I came across themer today and have been playing around with it. Up until now I used base16 but never had the patience to cobble everything together to actually get it up and running myself, always used pre-generated things. It was way easier to ge

[2020-12-21 13:32] mjswensen commented on #59
Thank you for the very clear and thorough writeup, @shlemas . I think what you're saying makes a lot of sense.

I'm going to open up a PR that updates both the readme and the web UI, and would love your feedback to see if it would be adequately helpful.

[2020-12-21 13:37] mjswensen commented on #59
Also would be interested to hear your thoughts, @pbsds — what would you recommend in addition to the changes proposed in the PR?

[2020-12-21 15:17] pbsds commented on #59
Looks fine to me.

I think what initially prompted me to create this issue is how difficult it was to recreate [Railscast](https://themer.dev/?colors.dark.shade0=%23262626&colors.dark.shade7=%23e6e1dc&colors.dark.accent0=%23DA4938&colors.dark.accent1=%23CFCFFF&colors.dark.accent2=%23FBB927&colors.dark.accent3=%23509E50&colors.dark.accent4=%23edb753&colors.dark.accent5=%23cc7833&colors.dark.accent6

[2020-12-24 20:17] #59 closed

[2020-12-24 20:19] mjswensen commented on #59
Thanks @pbsds , makes sense.

[2021-01-02 00:14] lafleurdeboum opened #87 "report powerline-rs support"
## `powerline-rs` template
I implemented support for the [`powerline-rs`](https://gitlab.com/jD91mZM2/powerline-rs) program, basically a re-implementation of `powerline` written in rust. I thought this soft is not vital, so I'd keep it as a third-party plugin. On the other hand, you have `vim-lightline` in the main project, and `powerline-rs` is basically the same thing for `zsh`/`bash`.

It's ava

[2021-01-09 16:45] mjswensen commented on #87
Hi @lafleurdeboum , thank you so much for bringing this to my attention. Yes, I would love to feature `themer-powerline-rs` in the community section of the README. Will do so shortly.

[2021-01-09 16:50] #87 closed

[2021-01-20 12:17] lafleurdeboum commented on #87
That's nice, thank you. Just wanted to say that I updated it to use the 8 more basic colors set by themer. As a matter of fact, `powerline-rs` only supports 256 color codes. But if it uses the basic color codes, the terminal emulator in turn is able to display the true needed colors, and (as far as I can tell) we get a real match.

[2021-01-20 12:50] lafleurdeboum opened #88 "ls support - dircolors paradox"
## Problem
I built a [themer-ls](https://gitlab.com/lafleurdeboum/themer-ls) plugin for themer, so as (obviously) to use themer colors in `ls`. While I was debugging it, I noticed that it didn't work at all, and finally found out that a `dircolors` instruction was hidden in a dotfile for a number of years. After removing it, I found out that there was no need for `themer-ls`, as `ls` on its own us

[2021-01-20 12:58] lafleurdeboum commented on #9
Well, I wrote [themer-gnome-colors](https://gitlab.com/lafleurdeboum/themer-gnome-colors) as a starting point on the same concern. It's also available in npm, as in

    npm install themer-gnome-colors

The trick here is to pull the colors from gnome-terminal, assuming it uses the default Gnome color scheme. This assumption could be checked at the colors generation ; there are usable `dconf` instr

[2021-01-27 14:18] mjswensen commented on #88
Thanks for the write-up, @lafleurdeboum .

To gain some shared context, which terminal emulator are you using from this list? https://github.com/mjswensen/themer#terminals

I'm thinking that the best place for this type of documentation would be in the README that `themer` generates (the one that contains installation instructions for the outputted themes). That way it's clear as the user is insta

[2021-02-28 15:17] spenserblack opened #89 "Hack for gray conversion should no longer be necessary"
# Description

For the vim theme, there is [currently a hack that uses Euclidean distance to get color conversions](https://github.com/mjswensen/themer/blob/56f0bd2b547d495251f4a2a521338ff81d2a7c18/cli/packages/vim/lib/index.js#L5-L28).  With https://github.com/Qix-/color-convert/pull/75 merged, the next release of color-convert should make this calculation unnecessary. It should be able to be rep

[2021-05-06 15:51] b4nst opened #95 "[new theme]: k9s"
# New theme template request

If you are requesting theme support for a new tool or program, use this section. Otherwise, delete it and continue with "Other feature request" below. See also [CONTRIBUTING.md](https://github.com/mjswensen/themer/blob/master/.github/CONTRIBUTING.md) for more information.

## Website

https://k9scli.io

## Example theme file

[code]

## Additional theme information

h

[2021-06-02 06:07] guitaristtom commented on #20
This would be a neat feature to add in.

I have been using a colour scheme in Sublime for a couple years, and just recently when reinstalling my computer I found out the hard way that the person deleted the repo for it...

So being able to not only update / maintain the colour scheme, but also port it to other programs and stuff would be pretty sweet.

(On a side note, adding support _somehow_ for

[2021-06-02 06:18] guitaristtom opened #103 "Sublime Text 4 Colour Scheme Support"
# New theme template request

Sublime Text 4

## Website

https://www.sublimetext.com/docs/color_schemes.html

## Additional context

SublimeHQ is really pushing away from support for the TMTheme format for colour schemes. Making it so that themes can break them and vice versa depending on how they are set up.

[2021-06-16 18:34] ahgraber opened #107 "Add support for jupyterlab themes"
# New theme template request

## Website

https://jupyter.org/

## Example theme file

https://github.com/jupyterlab/theme-cookiecutter

[2021-08-02 17:44] KatPurpy opened #108 "Themes generated by Themer do not look right on VS2019"
# Description

The theme is broken on VS2019

# To reproduce

Steps to reproduce the behavior:

1. use this theme https://themer.dev/?activeColorSet=dark&colors.dark.shade0=%2325004a&colors.dark.shade7=%23b062ff&colors.dark.accent0=%23ff4646&colors.dark.accent1=%2358fa4b&colors.dark.accent2=%23ffff00&colors.dark.accent3=%2300ff00&colors.dark.accent4=%2300ffff&colors.dark.accent5=%2300ffff&colors.d

[2021-08-22 06:12] mjswensen commented on #108
Thanks for the report, @KatPurpy !

Mind if I get your OS and Visual Studio versions so that I can look into this?

[2021-09-13 13:32] Akselmo opened #113 "Support for KDE Plasma Color Schemes"
# New theme template request

Since KDE Plasma Color Schemes are just .colors files that need RGB color values, themer could probably support those too.

## Website

Here's the official documentation of color schemes, although I feel its a bit lacking [https://docs.kde.org/stable5/en/plasma-workspace/kcontrol/colors/index.html#idm35](https://docs.kde.org/stable5/en/plasma-workspace/kcontrol/colors

[2021-09-22 08:45] ng-hai opened #116 "Error: Cannot find module '../build/Release/canvas.node'"
# Description
I'm trying to generate `block-wave` wallpaper, but got the error `MODULE_NOT_FOUND`

# To reproduce
1. Clone this repo https://github.com/ng-hai/hyper-rose-pine-next
2. Install package
[code]
3. Run `yarn wallpaper:dark`

## Screenshots
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/19520278/134311317-03f27d2d-b1c1-45f7-8e29-dcacee010162.png">

## Expect

[2021-09-22 12:50] mjswensen commented on #116
Thanks for the report, @ng-hai , taking a look now.

[2021-09-22 12:58] mjswensen commented on #116
@ng-hai , I was able to run the commands successfully on a fresh clone:

![image](https://user-images.githubusercontent.com/1591879/134347611-fe8b2806-6048-4fc2-92e0-b65ff1a72490.png)

I am thinking that there were some issues with `node-gyp`/`node-canvas` over the last 24 hours or so—my CI was failing with random `403` errors trying to fetch the precompiled binaries from GitHub (even though they

[2021-09-22 12:58] #116 closed

[2021-09-22 12:59] mjswensen commented on #116
You might consider deleting `node_modules` and re-running `yarn` to see if that fixes the issue.

[2021-09-22 13:01] ng-hai commented on #116
Thank you @mjswensen, let me try.

[2021-09-22 15:38] mjswensen commented on #116
(BTW, hyper-rose-pine-next is gorgeous 🤩)

[2021-09-22 16:29] ng-hai commented on #116
I have figured out the problem (have reinstalled VSCode, Hyper, Homebrew, NVM, and even been thinking to reinstall the OS because of Apple Silicon chip 🥵).

After so many failed attempts, I opened my Mac Air which using Intel chip to make a final one. And turned out, it was the config `--ignore-scripts` living in global `.yarnrc`. It makes the `yarn install` step missing optional dependencies, lea

[2021-09-22 17:03] mjswensen commented on #116
Ooof, that's a painful one. Good find. 😅

[2021-09-22 17:48] ng-hai commented on #116
I have added some dynamic wallpapers with higher resolution thanks to your lib. You may want to check new readme file 😄

Please take my one-time sponsoring as a gift 🎁

[2021-09-22 19:38] mjswensen commented on #116
😍  It looks fantastic!

And thank you so much! 🙏

[2021-09-30 19:47] jward8 commented on #63
I'd like to work on this if that's alright @mjswensen

[2021-10-01 01:48] mjswensen commented on #63
That sounds great @jward8 , thank you!

[2021-10-20 14:06] mjswensen commented on #113
@Akselmo , I just deployed [`@themerdev/kde-plasma-colors` to npm](https://www.npmjs.com/package/@themerdev/kde-plasma-colors) and added it to the [web UI](https://themer.dev) as well.

I installed Kubuntu in a VM to test, but I don't use KDE full-time so feel free to take a look and let me know if I screwed up any of the color mappings. PRs welcome for any improvements there. 👍

[2021-11-10 23:20] lafleurdeboum opened #118 "vim-lightline: colors not used in CLI"
# Description
The vim-lightline theme affects vim GUIs that use it, but not CLI like ... vim.

# To reproduce

Steps to reproduce the behavior:
[code]

## Screenshots
That's how it should be :
![NORMAL is light blue](https://user-images.githubusercontent.com/35574148/141208552-4ad917b1-268e-4e6c-ae8f-c0a9e7507897.png)
That's how it is (check the NORMAL background being darker) :
![NORMAL should be

[2021-11-16 14:10] #118 closed

[2021-11-20 11:50] pjalsGit opened #121 "[@themerdev/vim] add neovim instructions"
## Problem

I'm confused on how to use Themer themes on NeoVim, since it does not work when adding it to `~/.config/nvim` or `~/.vim/colors`

## Solution

Add instructions to the generated `README.md`

## Alternatives

It would be confusing not to put it in the `README.md`

## Additional context

Neovim instructions are not in the `README.md`

[2021-11-20 11:55] pjalsGit opened #122 "`vim-airline` support"
## Website

[GitHub Page](https://github.com/vim-airline/vim-airline)

## Example theme file

[If possible, provide a code snippet or a link to an example theme file for your tool or program.](https://github.com/dracula/vim/blob/master/autoload/airline/themes/dracula.vim)

## Additional theme information

I'm pretty sure it's similar to `lightline.vim`, but I'm not sure.

[2021-12-20 07:03] KatPurpy commented on #108
@mjswensen pardon for being this late, i didn't get a notification about this one, perhaps the version is outdated too but what i use is what i use

Windows 8.1 (6.3.9600)

Microsoft Visual Studio Community 2019
Version 16.9.4

[2022-01-31 18:24] Akselmo opened #126 "Kate editor support"
# New theme template request

Since there's now KDE Plasma colors support, having support for KDE default text editor Kate would be nice too!

## Website

https://kate-editor.org/

## Example theme file

https://invent.kde.org/frameworks/syntax-highlighting/-/blob/master/data/themes/breeze-light.theme

## Additional theme information

Themes seem to be simple JSON files, they just have `.theme` fi

[2022-02-13 21:11] Akselmo commented on #126
I just noticed this is basically a syntax file that could work widely across KDE apps like KDevelop as well. So even if this was made with Kate in mind other apps could use it too.

[2022-06-08 14:34] A-childs-encyclopedia opened #131 "How do I reverse changes from installers downloaded from the website?"

[2022-06-09 04:10] #131 closed

[2022-07-26 15:03] mjswensen opened #137 "Add support for italics to VS Code theme"

[2022-07-29 07:33] nvidiaLinuxUser opened #138 "foot terminal support"

[2022-08-17 14:28] mjswensen opened #141 "Include color set names in outputted themes"
# Other feature request

## Problem

Themes outputted by themer do not have unique names, so only one themer-generated theme can exist at a time.

## Solution

Color set names (like `default` or `solarized`) should be included in the outputted theme files, so that users can easily switch between themer-generated themes without name/filesystem conflicts. Themes generated from custom color sets shou

[2022-11-01 21:25] vtmx opened #142 "Added new famous themes"
[Kanagawa](https://github.com/rebelot/kanagawa.nvim)
[TokyoNight](https://github.com/folke/tokyonight.nvim)
[Catpuccin](https://github.com/catppuccin/catppuccin)
[RosePine](https://rosepinetheme.com/)